* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #b1e4bb;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 80px auto 0;
    padding: 20px;
}

section {
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    margin-bottom: 15px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
    border: 5px solid #f4f4f4;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-column {
    flex-basis: 48%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.languages {
    margin-top: 20px;
}

#contact i {
    margin-right: 10px;
    color: #35424a;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #35424a;
    color: #ffffff;
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
    }

    .skills-column {
        margin-bottom: 20px;
    }
}

#contact ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact li {
    margin: 0 15px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}
